h1, h2, h3 {
  font-family: 'Quattrocento', serif;
}
body {
  font-family: 'Droid Sans', sans-serif;
}

#logo {
  font-family: 'PT Serif Caption', serif;
  font-size: 72pt;
}

#main{
  width: 900px;
  font-size: 18px;
  margin-left: auto ;
  margin-right: auto ;
}

#about_block{
  position: fixed;
  margin-left: -150px;
  background-color: #EBEDE1;
  width: 100px;
  padding: 5px;
}

#about_block a{
  color: black;
  text-decoration: none;  
}
#about_block a:hover{
  color: black;
  text-decoration: underline;  
}
#about_block a:visited{
  color: #636363;
  text-decoration: none;  
}

.preview {
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
}